/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  .enternamea{
    border : 5px dashed black;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
  }

  .validate{
    border : none;
    font-weight: bold;
    height: 50px;
    border-color: black;
  }

  .inputname{
    text-align: center;
  }

   body {
   background-image:url("../img/bck.jpg");
   background-size: cover;
   background-repeat: round;
   height: 255px;
   overflow: hidden;
   user-select : none;
   }

.sky{
  width : 100%;
  height : 180px;
  user-select : none;
}

.sky2 video{
  margin-top: -60px;
  margin-bottom: 45px;
  user-select : none;
}

.sky3 video{
  margin-top: -50px;
  margin-bottom: 45px;
  user-select : none;
}

.case .choice{
  margin-top: 200px;
  margin-left: 50px;
}

.name .tag{
  margin-right: 350px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.name2{
  width: 100%;
  position: fixed;
}

.name2 .scoreplayer{
  margin-right: 450px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  font-weight: bold;
  margin-left: 380px;
}

.name button{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  position: absolute;
  left: 580px;
}

.name2 .scorebot{
  margin-right: 450px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  font-weight: bold;
}

.perso .charattack{
  bottom : 90px;
  right : 100px;
  bottom : 60px;
}

.perso .charattack2{
  bottom : 90px;
  right : 20px;
  bottom : 200px;
}

.perso .charattack3{
  bottom : 90px;
  right : 20px;
  bottom : 80px;
}

.perso .charattack4{
  bottom : 90px;
  right : 20px;
  bottom : 80px;
}

.perso .charattack5{
  bottom : 90px;
  right : 20px;
  bottom : 180px;
}

.perso .charattack6{
  bottom : 60px;
}

.perso .charattack7{
  bottom : 80px;
  right : 150px;
}

.perso .charattack8{
  bottom : 100px;
  right : 100px;
}

.perso .charattack9{
  bottom : 100px;
  right : 100px;
}

.perso .charattack10{
  bottom : 150px;
  right : 70px;
}

.name .boss{
  margin-left: 300px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  font-weight: bold;
}

.perso .chara1{
  margin-right: 750px!important;
  user-select : none;
  position: absolute;
}

.perso .chara2{
  user-select : none;
  position: relative;
  left : 250px;
}

.choice button:hover{
  user-select : none;
}

.name .choicebot{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  font-weight: bold;
  bottom: 350px;
}

.name .talkplayer{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 35px;
  font-weight: bold;
}

.front, .front img{
  margin-top: -80px;
  width : 60%;
  user-select : none;
}

.front, .front2 img{
  margin-top: -25px;
  width : 60%;
  user-select : none;
}

.front .front-spec{
  margin-left: 50%;
  user-select : none;
}



/* font-family: 'IBM Plex Mono', monospace; */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
